<!doctype html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Main</title>
</head>

<body style="height: 100vh; display: flex; justify-content: center;">
<div class="inner" style="width: 65%;">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/main">Node.JS Homework</a>
            <div>
                <a class="btn btn-primary" href="/write" role="button">작성하기</a>
            </div>
        </div>
    </nav>

    <div>
        <table id="searchResult" class="table">
            <thead>
            <tr>
                <th scope="col">제목</th>
                <th scope="col">이름</th>
                <th scope="col">날짜</th>
            </tr>
            </thead>
            <tbody>
            <template id="table-row">
                <tr>
                    <td class="title"></td>
                    <td class="name"></td>
                    <td class="date"></td>
                </tr>
            </template>
            </tbody>
        </table>
    </div>

</div>

<script>

    document.addEventListener('DOMContentLoaded', () => {
        const $tbody = document.querySelector('#searchResult > tbody')
        const $template = document.getElementById('table-row')

        const URL = '/api/posts'

        fetch(URL, {
            method: 'GET'
        })
            .then(res => res.json())
            .then(posts => {
                posts['result'].forEach(post => {
                    const {title, name, contentId} = post
                    const converted = new Date(contentId).toLocaleDateString('ko-KR', {dateStyle: 'full'})

                    const clone = document.importNode($template.content, true)
                    clone.querySelector('.title').textContent = title
                    clone.querySelector('.name').textContent = name
                    clone.querySelector('.date').textContent = converted
                    clone.querySelector('tr').addEventListener('click', event => {
                        console.log('clicked')
                        window.location.href = `/api/detail/${contentId}`
                    })


                    $tbody.appendChild(clone)

                })
            })
            .catch(err => {

            })
    })
</script>

</body>

</html>